html,body {
	height: 100%;
	width: 100%;
	margin: 0;
	position:absolute;
	overflow: hidden;
}
#games {
	position: absolute;
	top:0;
	left:0;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 10px;
}
.grid {
	max-width: 250px;
	min-width: 100px;
	aspect-ratio: 1;
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	position: relative;
	flex-grow: 1;
}

.grid div {
	width: 10%;
	aspect-ratio: 1;
}

.snake {
	background: black;
	border: 1px solid white;
	box-sizing: border-box;
}

.apple {
	background-image: url('../static/apple.png');
	background-size: 100%;
}

.grid div.popup {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(128,128,128,.5);
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
