:root {
	--grid-size: 200px;
	--pixel-size: calc(var(--grid-size) / 10);
}
#grid {
	width: var(--grid-size);
	height: var(--grid-size);
	border: 1px solid black;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

#grid div {
	width: var(--pixel-size);
	height: var(--pixel-size);
}

.snake {
	background: black;
	border: 1px solid white;
	box-sizing: border-box;
}

.apple::before {
	content: '🍎';
}

.egg::before {
	content: '🥚';
}
